.main{
  background-color: rgb(51, 51, 51);
  padding:25px;
  max-width:350px;
  width:100%;
  text-align:center;
  border-radius:10px;
  margin:0 auto;
  margin-top:15%;
}
#clock{
  background-color:#333;
  font-family: Arial, Helvetica, sans-serif;
  font-size:60px;
  text-shadow:0px 0px 1px #fff;
  color:gold;
  background-size: 100%;
}
#clock span {
  color:darkcyan;
  text-shadow:0px 0px 1px #333;
  font-size:30px;
  position:relative;
  top:-27px;
  left:-10px;
}
#date { 
  font-size:14px;
  font-family:arial,sans-serif;
  color:#fff;
} 